# Files
*.log
secrets.yaml
.DS_Store
apps/apps.yaml

# Directories
tts
venv
.storage
dashboards
www
__pycache__
*.pyc
.uuid
.idea/*
/appdaemon/.idea/
**/._.DS_Store
/apps/apps.yaml.example
/apps/hello.py
